#article-container
  .flink
    if site.data.link
      each i in site.data.link
        if i.class_name
          .flink-name!=i.class_name
        .flink-list
          .btns.circle.grid5
            each item in i.link_list
              - var snapshot = item.snapshot ? url_for(item.snapshot) : 'https://s0.wp.com/mshots/v1/' + item.link + '?w=800&h=500'
              a.button(href=url_for(item.link) title=item.name target="_blank")
                img.no-lightbox(src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=item.name )
                #text= item.name
                if item.descr
                  p=item.descr
                else
                  p 博主很懒，未填写网站描述
                img.no-lightbox(src=snapshot)
        hrl.line

  != page.content